---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="files">
  <Menu />
  <main>
    <h1 class="headline-large">files</h1>
    <p>This is the Files page.</p>
  </main>
</Layout>