---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="links">
  <Menu />
  <main>
    <h1 class="headline-large">links</h1>
    <p>This is the Links page.</p>
  </main>
</Layout>