---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="pathai">
  <Menu />
  <main>
    <h1 class="headline-large">pathai</h1>
    <p>This is the Pathai page.</p>
  </main>
</Layout>