---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="pin">
  <Menu />
  <main>
    <h1 class="headline-large">pin</h1>
    <p>This is the Pin page.</p>
  </main>
</Layout>