---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="posts">
  <Menu />
  <main>
    <h1 class="headline-large">posts</h1>
    <p>This is the Posts page.</p>
  </main>
</Layout>