---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="reports">
  <Menu />
  <main>
    <h1 class="headline-large">reports</h1>
    <p>This is the Reports page.</p>
  </main>
</Layout>