---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="settings">
  <Menu />
  <main>
    <h1 class="headline-large">settings</h1>
    <p>This is the Settings page.</p>
  </main>
</Layout>