---
import Layout from '../../layouts/Layout.astro';
import Menu from '../../components/Menu.astro';
---

<Layout title="All Products">
  <Menu />
  <main>
    <h1>All Products</h1>
    <!-- Add your product list here -->
  </main>
  <a href="/products/product" class="fab" aria-label="Add new product" id="addProductButton">
    <span class="material-icons">add</span>
  </a>
</Layout>

<style>
  main {
    padding: 1rem;
  }
  .fab {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #757575; /* Grey color for the icon */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #e0e0e0; /* Light grey border */
  }
  .fab:hover {
    background-color: #f5f5f5;
  }
  .material-icons {
    font-size: 24px;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const addProductButton = document.getElementById('addProductButton');
    
    addProductButton.addEventListener('click', (e) => {
      e.preventDefault();
      
      const newProduct = {
        Name: "",
        Medias: "",
        Type: "Item",
        Category: "",
        Notes: ""
      };
      
      localStorage.setItem('currentProduct', JSON.stringify(newProduct));
      window.location.href = '/products/product';
    });
  });
</script>
